<div class="login-wrapper" id="login-account">
    <h1 class="h1">Login</h1>
    <div class="subtitle mb-60">lorem ipsum dummy text </div>
   {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="customer[email]" placeholder="email Address" class="form-control">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="customer[password]" placeholder="Password">
      </div>
      <div class="button-group mt-10">
          <button class="add-to-cart-btn" type="submit">Log In</button>
      </div>
      <div class="form-links mt-20">
          <a href="/account/register">Create an Account</a>
          <a href="javascript:void(0)" class="forget-btn">Forgot Password?</a>
      </div>
    {% endform %}
</div>
<div class="login-wrapper" id="forget-password" style="display: none;">
    <h1 class="h1">Reset Password</h1>
    <div class="subtitle mb-60">WE FORGET THINGS, TOO. </div>
    {%- form 'recover_customer_password' -%}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
          <div class="form-title ">
              We will send you an email to reset your password.
          </div>
        {% endif %}
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="email Address" class="form-control" autocomplete="on" autocapitalize="on">
        </div>

        <div class="button-group mt-10">
            <button class="add-to-cart-btn" type="submit">Reset Password</button>
        </div>
        <div class="form-links singal-link mt-20">
            <a href="/account/login">Cancel</a>
        </div>
    {%- endform -%}
</div>

<script>
   $(".forget-btn").on("click", function () {
      $("#login-account").css("display","none");
      $("#forget-password").css("display","block");
 });
 //   $("#forget-password .singal-link").on("click", function () {
 //      $("#login-account").css("display","block");
 //      $("#forget-password").css("display","none");
 // });
  if (window.location.hash == '#recover') {
      $("#login-account").css("display","none");
      $("#forget-password").css("display","block");
  }
</script>