<section sn="qishr-section" class="bs-third-section-wrapper home-third">
    <div class="container-lg">
        <div class="what-is-qishr-body">
            {% if section.settings.heading != blank %}
              <div class="right-top-title">
                    <h2 class="h1">{{ section.settings.heading }}</h2>
              </div>
            {% endif %}
            <div class="center-animation-wrapper">
                {% if section.settings.bottle_anim != blank %}
                  <div class="bottle-anim">
                      <img src="{{ section.settings.bottle_anim | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.bottle_anim.alt }}" />
                  </div>
                {% endif %}
                <div class="drops">
                    <svg xmlns="http://www.w3.org/2000/svg" width="83" height="242" viewBox="0 0 83 242"
                        fill="none" class="drops-img">
                        <g id="Group">
                            <path id="Combined Shape" fill-rule="evenodd" clip-rule="evenodd"
                                d="M49.0958 78.3213C52.8681 67.7356 48.7447 50.5038 37.6732 34.692C26.6016 18.8802 11.8193 9.1119 0.581787 9.03613L49.0958 78.3213Z"
                                fill="white" />
                            <path id="Combined Shape Copy 3" fill-rule="evenodd" clip-rule="evenodd"
                                d="M66 241.187C75.3412 234.769 82 218.078 82 198.5C82 178.921 75.3412 162.23 66 155.812L66 241.187Z"
                                fill="white" />
                            <path id="Combined Shape Copy 2" fill-rule="evenodd" clip-rule="evenodd"
                                d="M61.6147 72.4541C54.2994 80.9849 51.9735 98.5498 56.6432 117.279C61.313 136.008 71.6128 150.425 82.0768 154.523L61.6147 72.4541Z"
                                fill="white" />
                        </g>
                    </svg>
                    <div class="bubbles">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                            fill="none" class="bb1 bb">
                            <circle cx="7.32666" cy="7.56274" r="6" stroke="white" stroke-width="2" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                            fill="none" class="bb2 bb">
                            <circle cx="7.32666" cy="7.56274" r="6" stroke="white" stroke-width="2" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                            fill="none" class="bb3 bb">
                            <circle cx="7.32666" cy="7.56274" r="6" stroke="white" stroke-width="2" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                            fill="none" class="bb4 bb">
                            <circle cx="7.32666" cy="7.56274" r="6" stroke="white" stroke-width="2" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                            fill="none" class="bb5 bb">
                            <circle cx="7.32666" cy="7.56274" r="6" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="252" height="133" viewBox="0 0 252 133"
                        fill="none" class="cup-img">
                        <g id="Group 22">
                            <circle id="Oval" cx="218.221" cy="48.3748" r="31.9998" stroke="#C05826"
                                stroke-width="2" />
                            <g id="Combined Shape">
                                <mask id="path-2-inside-1" fill="white">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.00997302 0C0.00333132 0.499208 0 0.999215 0 1.5V22.5C0 83.5275 49.4725 133 110.5 133C171.527 133 221 83.5275 221 22.5V1.5C221 0.999215 220.997 0.499208 220.99 0H0.00997302Z" />
                                </mask>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0.00997302 0C0.00333132 0.499208 0 0.999215 0 1.5V22.5C0 83.5275 49.4725 133 110.5 133C171.527 133 221 83.5275 221 22.5V1.5C221 0.999215 220.997 0.499208 220.99 0H0.00997302Z"
                                    fill="#EFD4CB" />
                                <path
                                    d="M0.00997302 0V-2H-1.9636L-1.98985 -0.0266066L0.00997302 0ZM220.99 0L222.99 -0.0265901L222.964 -2H220.99V0ZM2 1.5C2 1.00809 2.00327 0.516947 2.0098 0.0266066L-1.98985 -0.0266066C-1.99661 0.481469 -2 0.990346 -2 1.5H2ZM2 22.5V1.5H-2V22.5H2ZM110.5 131C50.5771 131 2 82.4229 2 22.5H-2C-2 84.632 48.368 135 110.5 135V131ZM219 22.5C219 82.4229 170.423 131 110.5 131V135C172.632 135 223 84.632 223 22.5H219ZM219 1.5V22.5H223V1.5H219ZM218.99 0.0265901C218.997 0.516969 219 1.00811 219 1.5H223C223 0.990318 222.997 0.481447 222.99 -0.0265901L218.99 0.0265901ZM220.99 -2H0.00997302V2H220.99V-2Z"
                                    fill="#C05826" mask="url(#path-2-inside-1)" />
                            </g>
                            <path id="Intersect" fill-rule="evenodd" clip-rule="evenodd"
                                d="M219.396 41.3625C161.924 57.5857 120.466 48.687 58.1465 34.6571C35.8958 29.6478 16.5843 28.7034 0.25 29.9913C4.10182 87.5251 51.9903 133 110.5 133C165.097 133 210.446 93.404 219.396 41.3625Z"
                                fill="white" />
                            <g id="Combined Shape Copy">
                                <mask id="path-5-inside-2" fill="white">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.00997302 0C0.00333132 0.499208 0 0.999215 0 1.5V22.5C0 83.5275 49.4725 133 110.5 133C171.527 133 221 83.5275 221 22.5V1.5C221 0.999215 220.997 0.499208 220.99 0H0.00997302Z" />
                                </mask>
                                <path
                                    d="M0.00997302 0V-2H-1.9636L-1.98985 -0.0266066L0.00997302 0ZM220.99 0L222.99 -0.0265901L222.964 -2H220.99V0ZM2 1.5C2 1.00809 2.00327 0.516947 2.0098 0.0266066L-1.98985 -0.0266066C-1.99661 0.481469 -2 0.990346 -2 1.5H2ZM2 22.5V1.5H-2V22.5H2ZM110.5 131C50.5771 131 2 82.4229 2 22.5H-2C-2 84.632 48.368 135 110.5 135V131ZM219 22.5C219 82.4229 170.423 131 110.5 131V135C172.632 135 223 84.632 223 22.5H219ZM219 1.5V22.5H223V1.5H219ZM218.99 0.0265901C218.997 0.516969 219 1.00811 219 1.5H223C223 0.990318 222.997 0.481447 222.99 -0.0265901L218.99 0.0265901ZM220.99 -2H0.00997302V2H220.99V-2Z"
                                    fill="#C05826" mask="url(#path-5-inside-2)" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            {% if section.settings.description != blank %}
              <div class="qishr-desc">
                  <p>{{ section.settings.description }}</p>
              </div>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Qishr Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Main Heading"
      },
      {
        "type": "image_picker",
        "id": "bottle_anim",
        "label": "Bottle Anim"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Qishr Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}